
.badge-primary {
  background-color: $foshia;
}

.badge-warning {
  background-color: $warning;
  color:#FFF;
}

.badge-danger {
  background-color: $danger;
}

.badge-dark {
  background-color: $darkblue;
}

