
.nagaaLogo {
  top: 5px;
  left: -17px;
}

nav {
  z-index: 333;
  @media(max-width: 992px) {
    box-shadow: 0 3px 6px #0006;
    border-radius: 6px;
  }


  .nav-link {
    color: #fff !important;
    transition: color 0.1s ease;
    @media (max-width: 992px) {
      &:not(.active) {
        color: $main-clr !important;
      }

    }

    &:hover {
      &:not(.active) {
        color: $warning !important;
      }
    }
  }

  .secondary-nav-link {
    &:not(.active) {
      color: $main-clr !important;
    }
  }
}

.active {
  background-color: #EB095E;
  border-radius: 6px;
  color: #ffff !important;
  transition: opacity 0.1s ease !important;

  &:hover {
    opacity: 0.7;
  }
}


.svg-image-header {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  img {
    max-width: 900px;
    @media (max-width: 1199px) {
      max-width: 790px;
    }
    @media(max-width: 992px) {
      display: none;
    }

  }
}